<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/layoutExtend/layoutFile :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지 타이틀</title>
</head>
<body>
<section>
    <p>메인 페이지 상단 컨텐츠</p>
    <div>메인 페이지 상단 포함 내용</div>
</section>
<section>
    <p>=============================</p>
</section>
<section>
    <p>메인 페이지 가운데 컨텐츠</p>
    <div>메인 페이지 가운데 포함 내용</div>
</section>
<section>
    <p>=============================</p>
</section>
<section>
    <p>메인 페이지 하단 컨텐츠</p>
    <div>메인 페이지 하단 포함 내용</div>
</section>
<section>
    <p>=============================</p>
</section>
</body>
</html>